# Dependencies
node_modules
.pnp
.pnp.js

# Production Build
dist
dist-ssr
*.local

# Environment files
.env
.env.production

# Database & SQLite files
server/data/*.sqlite
server/data/*.sqlite-journal
server/data/*.sqlite-wal
server/data/*.sqlite-shm
*.sqlite
*.sqlite-journal

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
